.first .navbar-brand img {
    display: none;
}

.first-navigation-ul {
    padding-left: 90px;
}

.third-navigation-ul {
    padding-left: 150px;
}

footer a {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* 9 number section  */
.image img{
  width: 100%;
  height: 300px;
}
.image a{
    text-decoration: none;
}